.hanako-terminal {
  padding: 30px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #232327;
  color: #b9b9bb;

  p,
  pre {
    margin-bottom: 0;
  }

  .key {
    color: #75bfff;
  }

  .attr {
    color: #ff7de9;
  }

  &-debug {
    @include hw-transition('500ms', 'transform');

    position: fixed;
    z-index: 999999;
    left: calc(50% - 15px);
    width: 30px;
    padding: 0;
    border: 0;

    @media (min-width: 992px) {
      left: 0;
      width: 100%;
      padding: 30px;
      transform: none;
    }

    &.bottom {
      bottom: 0;
      transform: translateY(calc(100% - 30px));
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      @media (min-width: 992px) {
        transform: translateY(100%);
      }
    }

    &.top {
      top: 0;
      transform: translateY(calc(-100% + 30px));
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      @media (min-width: 992px) {
        transform: translateY(-100%);
      }

      #hanako-terminal-mobile-mode {
        top: auto;
        bottom: 10px;
      }
    }

    &.in {
      left: 0;
      width: 100%;
      padding: 30px;
      transform: translateY(0);

      pre {
        opacity: 1;
      }
    }

    pre {
      @include hw-transition();

      max-height: 100px;
      overflow-y: scroll;
      scrollbar-width: none;
      opacity: 0;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.expanded pre {
      max-height: calc(100vh - 60px);
    }
  }

  #hanako-terminal-mobile-mode {
    position: absolute;
    z-index: 1999999;
    top: 10px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    border-radius: 100%;
    background-color: white;
  }
}
