/*
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../assets/fonts/helvetica/1488878/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix');
  src: url('../assets/fonts/helvetica/1488878/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix') format('eot'), url('../assets/fonts/helvetica/1488878/3a46542f-f429-4821-9a88-62e3be54a640.woff2') format('woff2'), url('../assets/fonts/helvetica/1488878/50ac1699-f3d2-47b6-878f-67a368a17c41.woff') format('woff'), url('../assets/fonts/helvetica/1488878/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
