<header class="navbar navbar-dark hw-scrollspy-header fixed-top bg-primary">
  <div class="container">
       <a href="{{ site.url }}" class="navbar-brand">{{ site.title }}</a>

        <a href="#" id="button-toggle-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>
  </div>
</header>
