<div class="language-switcher">
  {% for code, language in languages %}
    <a href="{{ language.url }}" class="{{ language.css_classes }}">
      {{ language.native_name }}
    </a>
  {% endfor %}
</div>
