#hw-cookies-consent {
  z-index: 1049 !important;
  padding: 10px;
  background-color: $light;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75rem;
  text-align: center;

  #hw-cookies-close {
    top: calc(50% - 2px);
    right: 15px;
    transform: translateY(-50%);
    color: $dark;
    text-decoration: none;
  }

  a {
    color: $primary;
  }

  .hw-cookies-link {
    margin-right: 5px;
    margin-left: 5px;
    color: $gray-600;
    text-decoration: underline !important;

    &.hw-cookies-btn-agree {
      color: $primary;
    }
  }

  p {
    margin: 0;
    color: $dark;
  }

  #hw-cookies-consent-details > div {
    width: fit-content;
  }
}

.hw-cookies-setting-description {
  padding-right: 15px;
}
