#main-menu {
  @include hw-transition();

  position: fixed;
  top: 56px;
  right: 0;
  max-height: 0;
  overflow: hidden;

  &.opened {
    max-height: 100vh;
  }
}

#button-toggle-menu {
  display: block;
  position: relative;
  width: 2rem;
  height: 1.5rem;

  span {
    @include hw-transition();

    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid $white;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 100%;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
